@import "tailwindcss";
@config "../../tailwind.config.mjs";

/* Font Imports */
@import "@fontsource-variable/inter";
@import "@fontsource-variable/playfair-display";

@layer base {
  :root {
    /* Define base colors if needed for dynamic usage, but we heavily rely on Tailwind config */
  }

  html {
    @apply scroll-smooth;
    background-color: #F5F5F0;
    /* Warm Taupe Base */
  }

  body {
    @apply font-sans text-text-main antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}